body{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto Slab', serif;
}
*{
    box-sizing: border-box;
}
   .pink{
   
    background-color: pink;
   }
    .blue{
        
       
        background-color:lightblue;
    }
    .green{
      
        background-color:lightgreen;
    }
    .black{
       
        background-color:black;
    }
.toolbar{
    display: flex;
    height: 12vh;
    background-color:#2f3640;
   align-items: center;
}
.filter_container{
    height: 70%;
    background-color: darkgrey;
    width:20rem;
    border-radius: 3px;
    margin-right: 2rem;
    margin-left: 2rem;
    display:flex;
}
.filter_color-container{
    height: 100%;
    width: 25%;
    background-color:#f5f6fa;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter_color{
    height: 40%;
    width:40%;
    border-radius: 2px ;
}
.action_container{
    height: 70%;
    background-color: #f5f6fa;
    width: 8rem;
    border-radius: 3px;
    display: flex;
}
.icon_container{
    height: 100%;
    width:50%;
   /* border-right: 1px solid red;*/
    display:flex;
    justify-content: center;
    align-items: center;
}
.icon{
    font-size:1.5rem;
 }
 .main_container{
min-height: 88vh;
gap: 2rem;
padding-top:3rem;
padding-left: 3rem;
background-color: #f5f6fa;
display: flex;
justify-content: space-around;
flex-wrap: wrap;
 }
 .ticket_container{
    margin-right: 2rem;
     height: 10rem;
     width: 14rem;
     background-color: white;
     border-radius: 10px;
 }
 .ticket_color{
     height: 7%;
 }
 .ticket_desc_container{
     height: 93%;
     padding: 0.5rem;
     overflow: auto;
     word-break: break-all;
 }
 .ticket_id{
     margin-bottom:11px;
     font-weight: 800;
     color: lightslategrey;
 }
 .ticket_desc{
    text-align: center;
    font-size: 1.2rem;
 }
 .modal_container{
   /* border: 2px solid red;*/
    height: 16rem;
   
    width: 30rem;
   /* display: flex; */
    position: absolute;
    box-shadow: 0 1rem 5rem rgba(0, 0, 0, 0.637);
    display: none;
 }
.task_container {
 /*   border: 1px solid green;*/
    width: 75%;
    height: 100%;
 }
 .modal-color_container{
   /* border: 1px solid green;*/
   height: 100%;
   width: 25%;
   background-color: #444;
  
 }
 .text-box{
    height: 100%;
    width: 100%;
    padding: 2rem;
 }
 .modal-colors{
    height: 15%;
    width: 60%;
    border-radius: 2px;
 }
 .modal-color_container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: flex-end;
    align-items: center;
}
.border{
 border:2px solid black
}
.lock_container{
    height: 70%;
    width: 4rem;
    display: flex;
    margin-left: 5rem;
    justify-content: space-around;
    align-items: center;
    background: #f5f6fa;
    border-radius: 7px;
    margin-right: 19px;
}
.lock{
    font-size: 1.5rem;
}
@media only screen and (min-width: 1800px) {
    html {
        font-size: 200%;
    }
}
